<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_REVERSED_CLIENT_ID)</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Чтобы сделать фото для аватарки профиля.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Чтобы выбрать фото для аватарки из медиатеки.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Приложение подключается к локальному серверу для авторизации и работы с карточками.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
	</array>
	<key>SERVER_BASE_URL_DEVICE</key>
	<string>http://172.20.10.2</string>
	<key>SERVER_BASE_URL_SIMULATOR</key>
	<string>http://localhost</string>
	<key>UIAppFonts</key>
	<array>
		<string>PhantomMuff1.5PlusRegular.ttf</string>
		<string>UraBumBumSP.otf</string>
		<string>Musinka.ttf</string>
		<string>futuralt_bold.ttf</string>
		<string>futura_mediumcyrusbyme.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
