name: iOS - Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest

    env:
      PROJECT_PATH: karto4ki/karto4ki.xcodeproj
      SCHEME: karto4ki
      DESTINATION: "platform=iOS Simulator,name=iPhone 16,OS=18.6"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Show Xcode files (debug)
        run: |
          find . -maxdepth 4 -name "*.xcodeproj" -o -name "*.xcworkspace" -o -name "Package.swift"

      - name: Build
        run: |
          set -o pipefail
          xcodebuild clean build \
            -project "$PROJECT_PATH" \
            -scheme "$SCHEME" \
            -destination "$DESTINATION" \
          | xcpretty

      - name: Test
        run: |
          set -o pipefail
          xcodebuild test \
            -project "$PROJECT_PATH" \
            -scheme "$SCHEME" \
            -destination "$DESTINATION" \
          | xcpretty
